@{
    ViewData["Title"] = "Usuario sin Perfil";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row col-lg-12">
            <div class="col-lg-5">
                <div class="ibox-content mt-5 text-right">
                    <img src="~/img/triste.png" alt="Acceso No Autorizado" width="350">
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <p class="h2 mt-5 text-danger">No cuenta con un perfil para accesar al sistema, por favor contacte al administrador del sistema.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
            <table class="table table-responsive-xl">
                <thead>
                    <tr>
                        <th>Administrador</th>
                        <th>Extensión</th>
                        <th>Correo Electrónico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>José Antonio Colin Pacheco</td>
                        <td>#318 2635</td>
                        <td>jose.colin.pacheco@correo.cjf.gob.mx</td>
                    </tr>
                    <tr>
                        <td>Juan Yael Miranda Alatriste</td>
                        <td>#318 2574</td>
                        <td>juan.miranda.alatriste@correo.cjf.gob.mx</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>