@{
    ViewData["Title"] = "CASESG";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row col-lg-12">
            <div class="col-lg-12">
                <div class="ibox-content mt-3 text-right">
                    <center><img src="~/img/desarrollo-web.png" alt="Mantenimiento CASESG"></center>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-12 mt-5 text-center">
                <p class="h2 mt-5 text-danger">Aún estamos trabajando para mejorar el servicio de CASESG, por favor se paciente. Intenta más tarde.</p>
            </div>
        </div>
    </div>
</div>