
@model IEnumerable<CedulasEvaluacion.Entities.Models.Dashboard>
@{
    ViewData["Title"] = "Detalle del Servicio";
    var estatus = new List<string>();
    var meses = new List<string>();

    @foreach (var dt in @Model)
    {
        estatus.Add(dt.Estatus);
        meses.Add(dt.Mes);
    }

    HashSet<string> quitaEstatus = new HashSet<string>(estatus);
    List<string> lestatus = quitaEstatus.ToList();
    
    HashSet<string> quitaMeses= new HashSet<string>(meses);
    List<string> lmeses = quitaMeses.ToList();
}

<div class="container-fluid">
    <div class="row col-lg-12">
        <table class="table" id="tbl_detalles">
            <thead>
                <tr>
                    <th></th>
                    @foreach (var est in lestatus)
                    {
                        <th>@est</th>
                    }
                </tr>
            </thead>
            @{
                
            }
            <tbody id="tbl_body"></tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var meses = @Html.Raw(Json.Serialize(lmeses));
            var model = @Html.Raw(Json.Serialize(@Model));
            var tbody = "";
            
            axios.get('/financieros/generaTabla/' + model[0].servicio).then(table => {
                table = table.data;
                for (let i = 0; i < meses.length; i++) {
                    tbody += "<tr><td class='font-weight-bold'>" + meses[i] + "</td>";
                    for (let c = 0; c < table[i].length; c++) {
                        tbody += table[i][c];
                    }
                    tbody += "</tr>";
                }
                $("#tbl_body").html(tbody);
            });           
        });
    </script>
}